
<% if user_signed_in? %>
  <li class="<%=current_class?(recipes_path)%>"><%= link_to 'Recipes', recipes_path %></li>
  <li class="<%=current_class?(cart_path)%>"><%= link_to 'Grocery Cart', cart_path %></li>
  <li class="<%=current_class?(signout_path)%>"><%= link_to 'Sign out', signout_path %></li>

<% else %>
  <li class="<%=current_class?(signin_path)%>"><%= link_to 'Sign in', signin_path %></li>
<% end %>
<% if user_signed_in? %>
<!--
<li class="dropdown" style="margin-top: 6px;">
  <button style="text-transform: none !important" class="button btn btn-sm dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span style="color:white !important;">
        <%= "#{current_user.name}".split.map(&:capitalize).join(' ') %>
        <span class="caret"></span>
      </span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  <% if user_signed_in? %>
    <li><%= link_to 'Profile', user_path(current_user) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to 'Sign out', signout_path %></li>
  <% end %>
  </ul>
</li>
-->
<% end %>
